* {
    margin: 0;
    padding: 0;
}


/*MOBILE*/
@media (max-width:768px) {

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.8); 
        z-index: 9998;
        animation: fadeOverlay 3s ease-in-out forwards; 
    }
    
    @keyframes fadeOverlay {
        0% { background-color: rgba(128, 128, 128, 0.8); }
        100% { background-color: rgba(128, 128, 128, 0); }
    }

    .loader {
        border: 16px solid #f3f3f3; 
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .fa-menu-icon {
        transform: translateX(-75px) translateY(-1px);
    }

    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 197px;
        height: 36px;
    }

    .menu-background {
        background-image: url("Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-repeat: repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    .location {
        background-color: #EAEAEA;
        font-size: 16px;
        font-family: roboto;  
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        padding: 17px;
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    }

    .fa-location-dot {
        margin-right: 15px;
    }

    .headline {
        text-align: center;
        background-color: #F6F6F6;
        font-family: roboto;
    }

    .H1head {
        padding-top: 25px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 15px;
        font-size: 24px;
    }

    .phead {
        padding-top: 0;
        padding-left: 26px;
        padding-right: 34px;
        font-size: 18px;
    }

    .explore-button {
        margin-top: 30px;
        width: 215px;
        height: 55px;
        border-color: transparent;
        border-radius: 30px;
        color: white;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        margin-bottom: 50px;
        font-size: 15px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        font-family: roboto;
    }

    .explore-button:hover {
        background-color: #FF51EB;
    }

    .fonctionnement {
        justify-content: center;
    }

    .H2fonc {
        padding-top: 40px;
        padding-left: 20px;
        font-family: roboto;
    }

    .fonctionnement-buttons {
        padding-bottom: 50px;
    }

    .fonc-button {
        width: 85%;
        height: 72.379px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 20px;
        border-radius: 20px;
        border: none;
        font-family: roboto;
        font-weight: bold;
        font-size: 16px;
        background-color: #F6F6F6;
        text-align: left;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }

    .fonc-button:first-of-type {
        margin-top: 30px;
    }

    .fa-fonc-logo-1 {
        padding-right: 20px;
        margin-left: 35px;
    }

    .fa-fonc-logo-2 {
        padding-right: 17px;
        margin-left: 35px;
     
    }

    .fa-fonc-logo-3 {
        padding-right: 17px;
        margin-left: 35px;
    }

    .numberedDots {
        transform: translateX(-10px) translateY(17px);
        justify-content: center;
        text-decoration: none;
        display: flex;
        font-size: 12px;
        align-items: center;
        width: 20px;
        height: 20px;
        border: none;
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        font-weight: normal;
    }

    .dots {
        margin-bottom: 25px;
    }

    .restaurants {
        background-color: #EAEAEA;
        font-family: roboto;
    }

    .H3rest {
        font-weight: bold;
        font-size: 24px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .card {
        display: flex;
        background-color: white;
        border-radius: 15px;
        margin-top: 20PX;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 23px;
    }

    .restaurants-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }

    .restaurants-list img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .new-badge {
        display: flex;
        border: 2px none black;
        position: absolute;
        border-radius: 3px;
        width: 80px;
        height:29px;
        z-index: 9999;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        background-color: #99E2D0;
        color:#008766;
        justify-content: center;
        align-items: center;
        top: 20px;
        right: 20px;              
    }

    .restaurant-text {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    .price {
        display: flex;
        justify-content: flex-end;
    }

    .fa-fav {
        text-align: right;
        transform: translateY(-20px);
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        padding: 22px 25px;
        color: white;
        font-family: roboto;
    }

    .footer-logo {
        padding-bottom: 10px;
    }

    .footer-logo-img {
        display: flex;
        width: 137.582px;
        height: 20px;
        padding-bottom: 10px;
        filter: brightness(0);
        -webkit-filter: brightness(30);
        align-items: flex-start;
    }

    .footer-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fa-footer {
        padding-right: 10px;
    }

    .Pfooter {
        font-family: Roboto;
        font-weight: normal;
        font-size:smaller;
    }

    .menu {
        background-color:#F6F6F6;
        border-radius: 50px;
    }

    .menu-title {
        font-family: 'Shrikhand';
        padding-left: 20px;
        padding-top: 40px;
    }
    
    .title {
        padding-top: 50px;
        padding-left: 20px;
    }

    .starters-title {
        border-bottom: 3px solid #99E2D0;
    }

    .starters {
        display: flex;
        flex-direction: column;
        font-family: Roboto;
    }

    .starters-card {
        display: flex;
        font-family: Roboto;
        background-color: white;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        flex-direction: row;
        align-items: center;
        height: 60px;
        width: 85%;
        margin-top: 20PX;
        margin-left: 25px;
        padding-left: 20px;
        font-weight: bold;
    }

    .order-checkout {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
}


/*DESKTOP AND TABLETTE*/
@media (min-width:768px) {
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.8); /* Initial color with more transparency */
        z-index: 9999; /* Ensure the overlay is below the loader but above other content */
        animation: fadeOverlay 3s ease-in-out forwards; /* Animation for the fade */
    
        /* Other styles for the overlay... */
    }
    
    @keyframes fadeOverlay {
        0% { background-color: rgba(128, 128, 128, 0.8); } /* Initial color with more transparency */
        100% { background-color: rgba(128, 128, 128, 0); } /* Fully transparent grey at the end */
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite, hide 3s forwards; /* Added hide animation */
  
    /* Centering the loader */
        position: fixed;
        top: 50vw;
        left: 50vw;
        z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
 

    .header {
        display: flex;
        justify-content: center;
    }



    .logo {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 200px;
        height: 34.202px;
    }

    .location {
        background-color: #EAEAEA;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        padding: 17px;
        font-family: roboto;
    }

    .fa-location-dot {
        margin-right: 14px;
    }

    .headline {
        text-align: center;
        background-color: #F6F6F6;
        font-family: roboto;
    }

    .H1head {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 40px;
    }

    .phead {
        padding-top: 0;
        padding-left: 30px;
        font-size: 18px;
        font-style: normal;
    }

    .explore-button {
        margin-top: 35px;
        width: 218px;
        height: 50px;
        border-color: transparent;
        border-radius: 30px;
        color: white;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        margin-bottom: 50px;
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        font-family: roboto;
    }

    .explore-button:hover {
        background-color: #FF51EB;
    }

    .fonctionnement {
        text-align: center;
        font-family: roboto;
    }

    .H2fonc {
        padding-top: 40px;
        font-weight: bold;
        text-align: left;
        padding-left: 8%;
        padding-bottom: 25px;
    }

    .fonctionnement-buttons {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 25px;
    }

    .fonc-button {
        width: 29%;
        height: 72.379px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        margin-left: 2%;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        background-color: #F6F6F6;
        text-align: left;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        font-family: roboto;
    }

    .fa-fonc-logo-1 {
        padding-right: 20px;
        margin-left: 35px;
    }

    .fa-fonc-logo-2 {
        padding-right: 17px;
        margin-left: 35px;
     
    }

    .fa-fonc-logo-3 {
        padding-right: 17px;
        margin-left: 35px;
    }

    .numberedDots {
        transform: translateX(-10px) translateY(17px);
        justify-content: center;
        text-decoration: none;
        display: flex;
        font-size: 12px;
        align-items: center;
        width: 20px;
        height: 20px;
        border: none;
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        font-weight: normal;
    }

    .restaurants {
        background-color: #F6F6F6;
        padding-right: 70px;
        padding-left: 70px;
        justify-content: center;
    }

    .H3rest {
        font-weight: bold;
        font-size: 24px;
        padding-left: 4%;
        padding-top: 50px;
        padding-bottom: 10px;
        font-family: roboto;
    }

    .card {
        display: flex;
        background-color: white;
        border-radius: 15px;
        margin-top: 20PX;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 43%;
        font-family: roboto;
    }

    .restaurants-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
        column-gap: 100px;
        row-gap: 50px;
    }

    .restaurants-list img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .new-badge {
        display: flex;
        border: 2px none black;
        border-radius: 3px;
        width: 80px;
        height:29px;
        z-index: 9999;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        background-color: #99E2D0;
        color:#008766;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 30px;              
    }

    .restaurant-text {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    .fa-fav {
        text-align: right;
        transform: translateY(-20px);
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        background-color: #353535;
        padding: 22px 25px;
        color: white;
        height: 80px;
        font-family: roboto;
    }

    .footer-logo {
        padding-bottom: 10px;
    }

    .footer-logo-img {
        display: flex;
        width: 137.582px;
        height: 20px;
        filter: brightness(0);
        -webkit-filter: brightness(30);
        padding-left: 50px;
        transform: translateY(50px);
        margin-left: 15px;
    }

    .footer-txt {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        gap: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .fa-footer {
        padding-right: 10px;
    }

    .Pfooter {
        font-family: Roboto;
        font-weight: normal;

    }

    .Pfooter::first-letter {
        margin-left: 30px;
    }

    .menu-background {
        background-image: url("Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-repeat: repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
    }

    .menu-title {
        font-family: 'Shrikhand';
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }

    .menu {
        margin-left: 10%;
        margin-right: 10%;
        background-color: #F6F6F6;
        border-radius: 20px;
    }

    .fa-palette {
        transform: translateX(35px) translateY(20px);
    }

    .starters-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        padding-top: 50px;
        padding-left: 20px;
    }

    .starters-title {
        border-bottom: 3px solid #99E2D0;
    }

    .price {
        display: flex;
        justify-content: flex-end;
    }
}